.account-title {
  font-size: 32px;
  margin-bottom: 8px;
  background: rgb(216, 217, 218);
}

.account-subtitle {
  color: rgb(86, 89, 89);
  margin-bottom: 32px;
  font-size: 20px;
}

.account-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.account-card {
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
  background: white;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  background: rgb(216, 217, 218);
  box-shadow: -7px 15px 30px rgb(136, 129, 159);

  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.account-card:hover {
  transform: translateY(-4px);

  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.12);
}

.account-card h3 {
  margin-bottom: 8px;
}

.account-card p {
  color: rgb(86, 89, 89);
}

.account-card.active {
  border: 2px solid #ffd814;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-form input {
  padding: 10px;
}

.payment-form button {
  align-self: flex-start;
}

.payment-form {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.payment-form.hidden {
  display: none !important;
}

.address-form.hidden {
  display: none !important;
}