.checkout-header {
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-content {
  width: 100%;
  max-width: 1100px;

  display: flex;
  align-items: center;
  background-image: url(../../../images/DyDx_Logo_\(2\).gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.checkout-header-left-section {
  width: 150px;
}

.dydx-logo {
  width: 100px;
  margin-top: 8px;
  border-radius: 50px;
}

.dydx-mobile-logo {
  display: none;
  border-radius: 50px;
}

/* @media is used to create responsive design (making the
   website look good on any screen size). This @media
   means when the screen width is 575px or less, different
   styles (inside the {...}) will be applied. */
@media (max-width: 575px) {
  .checkout-header-left-section {
    width: auto;
  }

  .dydx-logo {
    display: none;
  }

  .dydx-mobile-logo {
    display: inline-block;
    height: 35px;
    margin-top: 5px;
    border-radius: 50px;
  }
}

.checkout-header-middle-section {
  flex: 1;
  flex-shrink: 0;
  text-align: center;

  font-size: 26px;
  font-weight: bolder;
  color: rgb(172, 207, 16);

  display: flex;
  justify-content: center;
}

.return-to-home-link {
  color: rgb(8, 255, 111);
  font-size: 26px;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .checkout-header-middle-section {
    font-size: 20px;
    margin-right: 60px;
  }

  .return-to-home-link {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .checkout-header-middle-section {
    margin-right: 5px;
  }
}

.checkout-header-right-section {
  text-align: right;
  width: 150px;
}

@media (max-width: 1000px) {
  .checkout-header-right-section {
    width: auto;
  }
}